<configuration>
    <springProperty name="application-name" source="spring.application.name"/>
    <springProperty name="message-format" source="logging.message-format"/>
    <property name="LOG_LEVEL" value="INFO"/>

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - traceId=%X{traceId:-} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="brave.Tracer" level="WARN"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>